

// COLORS

$primary-color: #007bff;
$sacondary-color: #008000;
$white-color: #fff;
$gray-color: #666;
$color-red: #ff0000;
$light-gray-clolor: #ccc;
$light-gray-clolor1: #ebebeb;
$light-blue-clolor: #c4d3ff;
$light-green-clolor: #41cd41;

// FONT-FAMILIES
$font-family: 'Segoe UI', sans-serif;


// FONT-WEIGHTS
$weight-500: 500;