
.wrap-ai, .content {
    margin: 0 auto;
    width: 50%;
    min-width: 900px;
}

.content {
    background-color: $light-blue-clolor;
    padding: 15px;
    margin-top: 25px;
    border-radius: 10px;
}