@import '../../../src/assets/styles/base/variables';
@import '../../../src/assets/styles/base/typography';
@import '../../assets/styles/utiles/mixins';


.chatWrap {
    position: fixed;
    bottom: 7%;
    right: 3%;
}

.chat {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $sacondary-color;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    animation: pulse 2s infinite ease-in-out;

    cursor: pointer;

    img {
        width: 100%;
    }

    div {
        position: absolute;
        top: -4px;
        left: -7px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-weight: bold;
        font-size: $font-size-10;
        line-height: 2;
        background-color: $color-red;
        z-index: 1;
    }
}

.chat::before,
.chat::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #04ff008a;
    animation: wave 2s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.chat::after {
    animation-delay: 1s;
}

@keyframes wave {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.chatContent {
    width: 800px;
    padding: 10px;
    background: $light-gray-clolor1;
    border-radius: 10px
}

.chatContentHeader {
    @include flex-end;
}

.chatContentWrap {
    @include flex-space-around;
    background: $white-color;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.chatContentMain {
    width: 100%;
    height: 82%
}

.chatContentUsers,
.chatContentChat {
    width: 45%;
    height: 92%;
    border-radius: 10px;
    padding: 10px;
    background: $light-gray-clolor1;

    .userName {
        font-weight: bold;
        font-size: $font-size-20;
    }
}

.chatContentUsers {

    p {
        text-align: start;
        cursor: pointer;
        font-weight: bold;
        margin-left: 10px
    }

    .chatListUsers {
        @include flex-start;
        position: relative;
        width: 91%;
        background-color: $light-blue-clolor;
        margin: 7px;
        border-radius: 10px;
        padding: 0 10px;
        transition: transform 0.2s ease, color 0.2s ease;

        .chatOnlineUsers {
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $light-green-clolor;
            top: 6px;
            left: -7px;
        }

        .chatUsersMessages {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #ff0000;
            top: 18px;
            right: 9px;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
            // line-height: 1;
            font-size: $font-size-12;
        }
    }

    div:hover {
        box-shadow: 0px 5px 10px 0px #30323126;
        transform: scale(1.01);
    }


}

.chatContentInputWrap {
    padding: 10px;
    @include flex-space-between;

    input {
        width: 86%;
    }

    img {
        cursor: pointer;
    }

    .chatContentFile {
        input {
            display: none;
        }
    }
}

.chatContentMessage {

    div {
        height: 300px;
        overflow-y: scroll;
        @include flex-coumn1;
        padding: 10px;
    }

    p {
        position: relative;
        background: #90c79c;
        width: 80%;
        line-height: 3;
        font-size: 12px;
        border-radius: 10px 10px 0px 10px;
        box-shadow: 0px 5px 10px 0px #30323126;
        font-weight: bold;
        align-self: flex-end;

        img {
            position: absolute;
            top: 10%;
            right: 2%;
            width: 20px;
            cursor: pointer;
        }


    }

    .chatMessageAttachment {
        max-width: 25%;
        align-self: flex-end;
        background: #90c79c;
        border-radius: 10px 10px 0px 10px;
    }

    .sender {
        border-radius: 10px 10px 10px 0px;
        align-self: flex-start;
        background-color: #bcd0e1;
    }

    span {
        font-size: $font-size-14;
        color: $sacondary-color;
        font-weight: bold;
    }

    h6 {
        font-size: $font-size-16;
        color: $color-red;
    }
}

.chatContentEmojiWrap {
    min-height: 60px;


    span {
        display: inline-block;
        cursor: pointer;
        transition: transform 0.2s ease, color 0.2s ease;
    }

    span:hover {
        font-size: $font-size-20;
        transform: scale(1.3);
    }
}

.chatContentAttachedFileWrap {
    @include flex-ceter;
    width: fit-content;
    text-align: start;
    padding: 10px;
    margin: 0px 20px 20px 10px;
    border: 1px solid $light-gray-clolor;
    border-radius: 10px;

    img {
        cursor: pointer;
    }
}

.textDanger{
 font-weight: bold;
 color: $color-red;
 font-size: $font-size-10;
}